.App {
  text-align: center;
}


button {
  font-size: calc(10px + 2vmin);
}

#signupForm>form {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100px;
  gap: 10px;
  margin: auto;
}

#signUpsubmit {
  margin: auto;
  width: 70px;
}

#signupForm>form>input {
  border-radius: 5px;
}

#forgotButton {
  border-radius: 5px;
  font-size: 12px;
  margin: auto;
  margin-left: 80px;
}

button,
input[type="submit"]:hover {
  cursor: pointer;
}